.divine-container {
	@include flexCenters();
	@include position(relative);

	width: 100%;

	.content {
		display: flex;

		justify-content: space-between;
		width: 1100px;
	
		.left {
			width: 65%;
			padding: 20px;

			p {
				line-height: 1.8;
				text-align: justify;
			}
 
			h3 , h1 {
				color: color(primary);
			}

			ul {
				li {
					line-height: 1.5;
				}
			}

			table {
				margin: 0 auto;

				tr {
					td {
						width: 300px;
    					padding-top: 10px;
					}

					td:nth-child(1) {
						font-weight: bold;
					}
				}
			}

			.date-and-content {
				display: flex;
				width: 100%;
				padding: 1rem 0;
				justify-content: space-between;

				.date-content-left {
					@include flexCenters();
					flex-direction: column;

					width: 15%;
					height: 100px;
					background: #f2f0e6;

					p {
					  font-weight: bold;
					  color: #8d8c8c;
					  line-height: 0;
					  margin: 15px 0;
					  font-size: 1.5rem;
					}

					@include responsive(phone) { 
						p { 
							font-size: 1rem;
						}
					}

					p:nth-child(1) {
					    font-size: 2rem;
					    padding: 0;
					    top: -10px;
					}

					@include responsive(phone) {
						p:nth-child(1) {
							font-size: 1.5rem;
						}
					}
				}

				@include responsive(phone) {
					.date-content-left {
						width: 20%;
						height: 70px;
					}
				}

				.date-content-right {
					width: 75%;
					padding: 0 30px;
					border-left: 2px solid gray;

					span {
						margin: 0;
						cursor: pointer;
						color: color(primary);					
					}

					a {
						font-size: 1.2rem;
						text-decoration: none;
						color: color(primary);
						cursor: pointer;	
					}

					p {
						font-size: 0.9rem;
					}
				}

				@include responsive(phone) {
					.date-content-right { 
						width: 65%;
						padding: 0 15px;
					}
				}
			}

			.date-and-content:hover { 
				.date-content-left {
					background-color:  #1d17ce;
					
					p {
						color: white;
					}
				}
			}
		
			.title-and-content {
				width:100%;
				padding-bottom: 50px;
				border-bottom: 1px solid gray;

				h1 {
					a {
						text-decoration: none;
						color: color(primary);
					}
				}

				img {
					max-width: 100%;
				}
			
				.littleSpace {
					p {
						margin:0 0;
					}
					margin: 15px 0;
				}
			}
		}

		@include responsive(laptop) {
			.left {
				width: 100%;
				padding: 0;
			}
		}

		@include responsive(tablet) {
			.left {
				width: 100%;
				padding: 0;
			}
		}

		@include responsive(phone) {
			.left {
				width: 100%;
				padding: 0;
			}
		}

		.right {
			width: 27%;
			margin-top: 43px;
		}

		@include responsive(laptop) {
			.right {
				width: 100%;
			}
		}

		@include responsive(tablet) {
			.right {
				width: 100%;
			}
		}

		@include responsive(phone) {
			.right {
				width: 100%;
			}
		}
	}

	@include responsive(laptop) {
		.content {
			display: block;
			width: 950px;
			padding: 20px 50px;
		}
	}

	@include responsive(tablet) {
		.content {
			display: block;
			width: 950px;
			padding: 20px 50px;
		}
	}

	@include responsive(phone) {
		.content {
			display: block;
			width: 280px;
			padding: 20px;
		}
	}
}

.divine-container-second {
	@include flexCenters();
	@include position(relative);

	width: 100%;

	.content {
		display: flex;
		justify-content: space-between;
		width: 1100px;
	
		.right {
			width: 65%;
			padding: 20px;

			p {
				line-height: 1.8;
				text-align: justify;
			}
 
			h3 , h1 {
				color: color(primary);
			}

			ul {
				li {
					line-height: 1.5;
				}
			}

			ol {
				li {
					line-height: 1.5;
				}
			}

			.img-full {
				img {
					width: 100%;
				}
			}

			.img-container {
				display: flex;
				width: 100%;
				justify-content: space-between;
				margin: 30px 0;

				img {
					width: 35%;
					height: 350px;
				}

				@include responsive(phone) {
					img {
						width: 100%;
					}
				}

				.value {
					width: 62%;

					p {
						font-size: .9rem;
					}
				}

				@include responsive(phone) {
					.value {
						width: 100%;
					}
				}
			}

			@include responsive(phone) {
				.img-container {
					display: block;
				}
			}

			table {
				tr {
					td {
						width: 300px;
						margin: 10px 0;
					}

					@include responsive(phone) {
						td {
							display: block;
							width: 100%;
							line-height: 1.3;
						}
					}

					td:nth-child(1) {
						font-weight: bold;
					}
				}
			}
		}

		@include responsive(laptop) {
			.right {
				width: 100%;
				padding: 0;
				display:table-header-group;
			}
		}

		@include responsive(tablet) {
			.right {
				width: 100%;
				padding: 0;
				display:table-header-group;
			}
		}

		@include responsive(phone) {
			.right {
				width: 100%;
				padding: 0;
				display:table-header-group;
			}
		}

		.left {
			width: 27%;
			margin: 43px 0;
		
			.overview {
				width: 100%;

				h3 {
					text-align: center;
					background: color(primary);
					padding: 15px;
					color: white;
					margin: 0;
				}

				ul {
					margin: 0;
					padding: 0;

					li {
						list-style: none;
					    font-size: .9rem;
					    border: 1px solid #e6e6e6;
					    background: transparent;
					    padding: 14px 32px;

					    a {
					    	text-decoration: none;
					    	color: color(primary);
					    }
					}

					.list-active {
						border-left: 5px solid #1d17ce;
					}

					li.li-dropdown {
						display: flex;
    					justify-content: space-between;

    					button {
    						cursor: pointer;
						    background: transparent;
						    border: 0;
						    color: color(primary);
    					}
					}

					.li-dropdown-contents {
						opacity: 0;
					    max-height: 0;
					    visibility: hidden;
					    background-color: #f8f8f8;
					    transition: all 300ms ease-in-out;
					}

					.li-dropdown-clicked {
					    opacity: 1;
					    max-height: 100%;
					    visibility: visible;
					}
				}
			}
		}

		@include responsive(laptop) {
			.left {
				width: 100%;
				margin: 43px 0;
				display:table-footer-group;
			}
		}

		@include responsive(tablet) {
			.left {
				width: 100%;
				margin: 43px 0;
				display:table-footer-group;
			}
		}

		@include responsive(phone) {
			.left {
				width: 100%;
				margin: 43px 0;
				display:table-footer-group;
			}
		}
	}

	@include responsive(laptop) {
		.content {
			display: table;
			width: 950px;
			padding: 20px 50px;
		}
	}

	@include responsive(tablet) {
		.content {
			display: table;
			width: 950px;
			padding: 20px 50px;
		}
	}

	@include responsive(phone) {
		.content {
			display: table;
			width: 950px;
			padding: 20px 50px;
		}
	}
}