// ------------------------------------- TEXT COLOR -------------------------------------
.red {
	color: red !important;
}

.black {
	color: black !important;
}

// ------------------------------------- no border -------------------------------------

.noborder {
	border: none !important;
	background: none !important; 
	cursor: pointer;
	padding: 0;
}

// ------------------------------------- notifications -------------------------------------

.notification {
    @include position(absolute, 50px, 30px);
    display: table;

	background-color: white;
	width: 300px;
	z-index: 2;
    color: color(secondary);
	height: 50px;
    box-shadow: 3px 3px 8px gray;
    visibility: hidden;
    opacity: 0;
  	transition: visibility 0.5s, opacity 0.5s linear;

    .notification-icon {
        display: table-cell;
        width: 17%;
        vertical-align: middle;
        text-align: center;
        background: color(secondary);

        i {
            color: white;
        }
    }

    .notification-content {
        display: table-cell;
        width: 83%;
        vertical-align: middle;
        padding: 10px 10px;

       ul {
     		margin: 0;
            padding: 0 15px !important;
            
            li {
              margin: 3px 0;
              font-size: .9rem;
            }
        }
    }
}

.notif-success {
    color: #4CAF50 !important;

    .notification-icon {
        background: #4CAF50 !important;
    }
}

.notif-info {
    color: #2196F3 !important;

    .notification-icon {
        background: #2196F3 !important;
    }
}

.notif-warning {
    color: #ff9800 !important;

    .notification-icon {
        background: #ff9800 !important;
    }
}

.notif-danger {
    color: #f44336 !important;

    .notification-icon {
        background: #f44336 !important;
    }
}

.notif-visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s linear;
}
// ------------------------------------- NAVBAR -------------------------------------

.dp-content {
  display: none;
  position: absolute;
  background-color: #242323;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: white;
}

.nav-active {
	background-color: #1D17CE;
	color: white!important;
}

// ------------------------------------- NAV-COLLAPSE -------------------------------------

.nav-collapse-clicked {
	left: 0 !important;
}

.nav-collapse-clicked2 {
	background: rgba(0, 0, 0, .7);
	opacity: 0.7;
	z-index: -1;
}

.dpBtn {
	color: white;
	cursor: pointer;
	background: transparent;
	border: none;
	padding: 0 20px;
}

.dp-content-collapse {
	opacity: 0;
	max-height: 0;
	visibility: hidden;
	background-color: #110d72;
	transition: all 300ms ease-in-out;
}

.dp-content-collapse-clicked {
	opacity: 1;
	max-height: 100%;
	visibility: visible;
}

// ------------------------------------- FOOTER -------------------------------------
.sm-gray {
	font-size: 9px !important;
	color: #adb5bd;
}

.mg-bottom {
	margin-bottom: 5px !important;
}

// ------------------------------------- HOMEPAGE -------------------------------------

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {display: block;} 
  to {margin: 0;}
}

@keyframes fade {
 from {opacity: .4} 
  to {opacity: 1}
}

// ------------------------------------- SCROLL -------------------------------------

.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;	
}
.scroll {
	position:absolute;
	right:20px;
	bottom:20px;
	background:#179bd7;
	color: white;
	border: 1px solid transparent;
	border-radius: 50%;
	padding:10px 12px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover {
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}

.scroll:hover .fa {
	padding-top:-10px;
}

.scroll .fa {
	font-size:30px;
	margin-top:-5px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}

// ------------------------------------- BANNER -------------------------------------

.banner {
	@include position(relative);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-size:0;
	
	img {
		height: 200px;
		width: 100%;
	}

	@include responsive(phone) {
		img {
			height: 130px;
		}
	}
}
	
// ------------------------------------- PAGINATION -------------------------------------

.pagination {
	@include flexCenters();
    padding: 0;

    li {
	   @include flexCenters();
		width: 35px;
		height: 35px;
		margin: 0 3px;
		font-size: .9rem;
		text-align: center;
		border-radius: 50px;
		background-color: #d7d7d7;
    	

    	a {   	
    		text-decoration: none;
    		color: black;
    	}
    }

    li:hover, li.active {
    	background: color(primary);
    	cursor: pointer;

    	a {
    		color: white;
    	}
    	
    	span {
    		color: white;
    	}
    }
}
	
// ------------------------------------- TITLES AND CONTENT BTN -------------------------------------

.content-btns {
	display: flex;
	justify-content: space-between;
}

.content-btn {
	margin: 10px 0;
	display: flex;
	color: color(primary); 

	i {
		padding: 0 8px;
		font-weight: bold;
	}

	form {
		input[type='submit'] {
			font-size: 1rem;
			text-decoration: none;
			color: color(primary); 
		}

		input[type='submit']:focus, textarea {
		    outline: none !important;
		}
	}
}

.visible {
	display: block !important;
}

.hidden {
	display: none;
}

// ------------------------------------- GOOGLE MAP -------------------------------------

.mapouter {
	@include position(relative);
	height: 400px;

	.gmap_canvas iframe {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100% !important;
	    height: 100% !important;
	}
}

