body {
  font-family: Century Gothic;
  margin: 0;
  padding: 0;
  -webkit-transition: all 500ms ease 320ms;
  transition: all 500ms ease 320ms;
  overflow-x: hidden;
  background: #E3E3FE;
}

body * {
  box-sizing: border-box;
}

.notification {
  background-color: white;
  position: absolute;
  top: 50px;
  right: 30px;
  width: 300px;
  z-index: 2;
  border-radius: 5px;
  box-shadow: 2px 2px 2px;
  height: 60px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.5s, opacity 0.5s linear;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.showNotification {
  visibility: visible;
  opacity: 1;
  display: table !important;
}

.notif-left {
  position: relative;
  height: 100%;
  width: 15%;
  float: left;
}

.notif-right {
  float: left;
  position: relative;
  width: 85%;
  height: 100%;
  padding: 5px 0;
  display: table-row;
}

.notif-right-div {
  position: relative;
  height: 60%;
  width: 100%;
  line-height: 1;
  display: none;
}

.notif-right-div h6 {
  margin: 10px;
  font-size: 14px;
}

.notif-right-div input {
  font-size: 0.8rem;
  color: gray;
  border: none;
  background: transparent;
}

.visible {
  display: block !important;
}

.hidden {
  display: none;
}

.dashboard-login {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background: #413e92;
}

.dashboard-login .login-content {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 800px;
  height: 80%;
}

.dashboard-login .login-content .login-content-left {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  background: #5f5aef;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  width: 60%;
  height: 100%;
  color: white;
}

.dashboard-login .login-content .login-content-left h1 {
  font-size: 3rem;
  margin: 0;
}

.dashboard-login .login-content .login-content-right {
  width: 40%;
  height: 100%;
  padding: 0 30px;
  background: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.dashboard-login .login-content .login-content-right .login-item-top {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  height: 10%;
  width: 100%;
}

.dashboard-login .login-content .login-content-right .login-item-top a {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  border: 1px solid #b8b7c2;
  color: gray;
  background: transparent;
  text-decoration: none;
}

.dashboard-login .login-content .login-content-right .login-item-top span {
  padding-left: 10px;
  color: #525257;
  font-size: 0.8rem;
  font-weight: bold;
}

.dashboard-login .login-content .login-content-right .login-item-bottom {
  width: 100%;
  height: 90%;
}

.dashboard-login .login-content .login-content-right .login-item-bottom .title {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100;
  height: 35%;
}

.dashboard-login .login-content .login-content-right .login-item-bottom .title h3 {
  color: gray;
}

.dashboard-login .login-content .login-content-right .login-item-bottom .form {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 65%;
  padding: 0 40px;
}

.dashboard-login .login-content .login-content-right .login-item-bottom .form .form-top {
  height: 50%;
}

.dashboard-login .login-content .login-content-right .login-item-bottom .form .form-top .dashboard-input {
  width: 100%;
  padding-bottom: 25px;
  height: 50px;
}

.dashboard-login .login-content .login-content-right .login-item-bottom .form .form-top .dashboard-input input {
  width: 100%;
  background: transparent;
  outline: 0;
  border-width: 0 0 1px;
  border-color: #525257;
  padding-bottom: 8px;
  font-size: 1rem;
}

.dashboard-login .login-content .login-content-right .login-item-bottom .form .form-top .dashboard-input label {
  position: relative;
  top: NULL;
  right: NULL;
  bottom: NULL;
  left: NULL;
  bottom: 30px;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dashboard-login .login-content .login-content-right .login-item-bottom .form .form-top .dashboard-input .dashboard-input-focus {
  bottom: 50px !important;
  font-size: 0.8rem;
  font-weight: bold;
  color: #5f5aef;
}

.dashboard-login .login-content .login-content-right .login-item-bottom .form .form-top .dashboard-input .password-content {
  position: relative;
  top: NULL;
  right: NULL;
  bottom: NULL;
  left: NULL;
  display: -webkit-box;
  display: flex;
}

.dashboard-login .login-content .login-content-right .login-item-bottom .form .form-top .dashboard-input .password-content i {
  display: none;
  position: absolute;
  top: 10px;
  right: 0;
  bottom: NULL;
  left: NULL;
}

.dashboard-login .login-content .login-content-right .login-item-bottom .form .form-top .dashboard-input .password-content i:hover {
  cursor: pointer;
}

.dashboard-login .login-content .login-content-right .login-item-bottom .form .form-top .remember-me span {
  font-size: 0.8rem;
  padding-left: 10px;
}

.dashboard-login .login-content .login-content-right .login-item-bottom .form .form-bottom {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 40%;
}

.dashboard-login .login-content .login-content-right .login-item-bottom .form .form-bottom .dashboard-submit-button input[type=submit] {
  border: none;
  height: 45px;
  width: 150px;
  background: #413e92;
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 5px black;
}

.dashboard-login .login-content .login-content-right .login-item-bottom .form .form-bottom .dashboard-submit-button input[type=submit]:hover {
  -webkit-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 7px 7px 10px black;
  cursor: pointer;
}

.dashboard-login .login-content .login-content-right .login-item-bottom .form .form-bottom .forgot-password input[type=submit] {
  border: none;
  color: #413e92;
  background: transparent;
  font-size: 0.8rem;
}

.dashboard-login .login-content .login-content-right .login-item-bottom .form .form-bottom .forgot-password input[type=submit]:hover {
  cursor: pointer;
}

.dashboard-main {
  font-family: "Muli", sans-serif;
  height: 100vh;
  width: 100%;
}

.dashboard-main .main-top {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  height: 12%;
  width: 100%;
  background: #5f5aef;
  box-shadow: 1px 1px 5px black;
}

.dashboard-main .main-top .main-content {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 100%;
  width: 95%;
}

.dashboard-main .main-top .main-content .left {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  height: 100%;
  width: 50%;
}

.dashboard-main .main-top .main-content .left img {
  height: 80%;
  width: 64px;
}

.dashboard-main .main-top .main-content .left a {
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  padding-left: 5px;
  text-decoration: none;
  cursor: pointer;
}

.dashboard-main .main-top .main-content .right {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: end;
          justify-content: flex-end;
  height: 100%;
  width: 50%;
}

.dashboard-main .main-top .main-content .right p {
  font-weight: bold;
  color: white;
  margin: 0;
}

.dashboard-main .main-top .main-content .right i {
  padding: 0 15px;
  font-weight: bold;
  color: #b8c0c4;
}

.dashboard-main .main-top .main-content .right i:hover {
  cursor: pointer;
}

.dashboard-main .main-bottom {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  height: 88%;
  width: 100%;
  display: table-row;
  border-collapse: separate;
  border-spacing: 15px;
}

.dashboard-main .main-bottom .bottom {
  display: table-cell;
}

.dashboard-main .main-bottom .left {
  width: 20%;
  height: auto;
  padding: 15px;
  border-spacing: 10px;
  background: #2B333E;
}

.dashboard-main .main-bottom .left .left-content {
  width: 100%;
  padding: 10px;
}

.dashboard-main .main-bottom .left .left-content h4 {
  color: #5f5aef;
}

.dashboard-main .main-bottom .left .left-content .left-content-link {
  margin-top: 10px;
  padding: 8px 8px 8px 15px;
}

.dashboard-main .main-bottom .left .left-content .left-content-link i {
  color: #b8c0c4;
}

.dashboard-main .main-bottom .left .left-content .left-content-link a {
  padding-left: 15px;
  text-decoration: none;
  color: white;
}

.dashboard-main .main-bottom .left .left-content .left-content-link span {
  color: white;
  float: right;
  cursor: pointer;
}

.dashboard-main .main-bottom .left .left-content .left-content-link:hover {
  border-radius: 8px;
  background-color: #414a76;
  font-weight: bold;
}

.dashboard-main .main-bottom .left .left-content .link-active {
  border-radius: 8px;
  background-color: #414a76;
  font-weight: bold;
}

.dashboard-main .main-bottom .left .left-content .content-dropdown {
  position: relative;
  top: NULL;
  right: NULL;
  bottom: NULL;
  left: NULL;
  background-color: #373f64;
  opacity: 0;
  max-height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.dashboard-main .main-bottom .left .left-content .content-dropdown-clicked {
  opacity: 1;
  max-height: 100%;
  visibility: visible;
}

.dashboard-main .main-bottom .right {
  width: 80%;
  display: table-cell;
}

