body {
  margin: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.Muli {
  font-family: "Muli", sans-serif;
}

.centuryGothic {
  font-family: Century Gothic;
}

.sourceSansPro {
  font-family: "Source Sans Pro", sans-serif;
}

.flexCenters {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.colorWhite {
  color: white;
}

.colorGray {
  color: gray;
}

.coldGray {
  color: #b8c0c4;
}

.coldBlue {
  color: #5f5aef;
}

.fivePercent {
  height: 5% !important;
}

.dropdownShow {
  display: block !important;
}

.borderBottom {
  padding-bottom: 0.7rem;
  border-bottom: 1px solid gray;
}

input[type=text]:disabled {
  background: transparent;
}

.dashboard {
  background-color: #413e92;
  height: 100vh;
  width: 100%;
}

.dashboard-container {
  position: relative;
  width: 60%;
  height: 80%;
}

.dashboard-left {
  position: relative;
  width: 60%;
  height: 100%;
}

.dashboard-left-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.dashboard-left-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #5f5aef;
  opacity: 0.9;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.dashboard-left-paragraph {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
}

.dashboard-left-paragraph-item {
  text-align: center;
}

.dashboard-left-paragraph-item h1 {
  font-size: 3rem;
  margin: 0;
}

.dashboard-right {
  position: relative;
  width: 40%;
  height: 100%;
  background: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.dashboard-right-return-home {
  position: relative;
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin: 0 auto;
}

.wrap {
  position: relative;
  height: 700px;
  width: 100%;
  background: orange;
}

.dashboard-right-return2-home form {
  position: relative;
  height: 90%;
  width: 100%;
  background: pink;
}

.dashboard-right-return-home-content {
  position: relative;
  width: 100%;
  padding-left: 20px;
}

.dashboard-right-return-home-content button {
  border-radius: 50px;
  border: 1px solid #b8b7c2;
  color: gray;
  background: transparent;
}

.dashboard-right-return-home-content button:hover {
  cursor: pointer;
}

.dashboard-right-return-home-content span {
  padding-left: 10px;
  color: #525257;
  font-size: 0.8rem;
  font-weight: bold;
}

.dashboard-right-form {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-box-pack: center;
          justify-content: center;
}

.dashboard-img-container-container {
  position: relative;
  width: 950px;
  margin: 0 auto;
}

.dashboard-img-container {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.dashboard-img-container-img {
  position: relative;
  height: 180px;
  width: 480px;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background-color: #e3e3e3;
  margin: 5px;
}

.dashboard-img-container-img:hover {
  cursor: pointer;
}

.dashboard-img-container-img-active {
  border: 2px solid #1d17ce;
}

.dashboard-img-container img {
  position: relative;
  height: 97%;
  width: 97%;
}

.dashboard-home-content::after {
  content: "";
  clear: both;
  display: table;
}

.dashboard-home-content button {
  float: right;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 15px;
}

.dashboard-right-form-title {
  position: relative;
  height: 20%;
  width: 100%;
  text-align: center;
  padding-top: 3rem;
}

.dashboard-right-form-title h3 {
  color: #525257;
}

.dashboard-right-form-content {
  position: relative;
  height: 40%;
  width: 60%;
  padding-top: 30px;
  margin: 0 auto;
}

.dashboard-right-form-content form {
  margin: 0;
}

.dashboard-right-input {
  position: relative;
  width: 100%;
  height: 22%;
  margin-bottom: 20px;
}

.dashboard-right-input-password i {
  position: absolute !important;
  right: 10px;
  top: 10px;
  display: none;
}

.dashboard-right-input-password i:hover {
  cursor: pointer;
}

.dashboard-form-control {
  width: 100%;
  background: transparent;
  outline: 0;
  border-width: 0 0 1px;
  border-color: #525257;
  padding-bottom: 8px;
  font-size: 1rem;
}

.dashboard-right-input label {
  position: relative;
  bottom: 30px;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dashboard-right-input label.error {
  position: absolute;
  left: -200px;
  top: 10px;
  color: red;
  width: 200px;
  font-size: 0.9rem;
  padding-right: 20px;
}

.dashboard-right-focus {
  bottom: 50px !important;
  font-size: 0.8rem;
  color: #5f5aef;
  font-weight: bold;
  border-color: #5f5aef;
}

.dashboard-right-submit-button {
  position: relative;
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.dashboard-right form {
  height: 100%;
}

.dashboard-right-submit-button [type=submit] {
  position: relative;
  border: none;
  height: 45px;
  width: 150px;
  background: #413e92;
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 5px black;
}

.dashboard-right-submit-button [type=submit]:hover {
  -webkit-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 7px 7px 10px black;
  cursor: pointer;
}

.displayBlock {
  display: block !important;
}

.rememberMe {
  font-size: 0.8rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin-top: 15px;
}

.rememberMe span {
  padding-left: 10px;
}

.rememberMe span:nth-child(3) {
  padding-left: 25px;
}

.forgotPassword {
  position: absolute;
  bottom: 90px;
  left: 120px;
  font-size: 14px;
}

.forgotPassword [type=submit] {
  color: #5f5aef;
}

/* ----------------------- [ Dashboard Home] ----------------------- */

.dashboard-home {
  background-color: #E3E3FE;
  width: 100%;
  height: 100vh;
  display: table;
  overflow-y: auto;
  overflow: hidden;
}

.dashboard-home div * {
  position: relative;
}

.dashboard-medium-container {
  position: relative;
  margin: auto;
  height: 80%;
  width: 45%;
}

.dashboard-medium-inner-container {
  height: 50%;
  width: 100%;
}

.dashboard-medium-upper-container {
  height: 20%;
  width: 100%;
  color: Black;
}

.dashboard-medium-upper-container hr {
  position: absulute;
  bottom: 30px;
  color: black;
  width: 95%;
  z-index: 2;
}

.dashboard-medium-upper-container p {
  padding: 22px;
  font-size: 1.5rem;
  background: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.dashboard-medium-bottom-container {
  display: table;
  width: 100%;
  background: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.dashboard-medium-bottom-inner-container-left {
  height: 100%;
  width: 30%;
  float: left;
  text-align: right;
  padding: 40px 20px;
}

.dashboard-medium-bottom-inner-container-right {
  height: 100%;
  float: right;
  width: 70%;
  padding: 30px 20px;
}

.margin-bottom-rem {
  margin-bottom: 5px;
  width: 90%;
}

.dashboard-medium-bottom-inner-container-right [type=submit] {
  border: none;
  height: 45px;
  width: 50%;
  background: #413e92;
  color: white;
  margin-top: 30px;
  font-weight: bold;
  box-shadow: 1px 1px 5px black;
}

.dashboard-medium-bottom-inner-container-right [type=submit]:hover {
  -webkit-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 7px 7px 10px black;
  cursor: pointer;
}

/* --- [navbar] --- */

.dashboard-home nav {
  position: relative;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: flex;
  background-color: #5f5aef;
  box-shadow: 1px 1px 5px black;
  z-index: 1;
}

.dashboard-home nav div {
  position: relative;
}

.dashboard-home-nav-1st {
  height: 100%;
  width: 18%;
}

.nav-1st-content {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 2rem;
}

.nav-1st-logo {
  position: relative;
  width: 30%;
  height: 80%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.nav-1st-logo img {
  width: 100%;
  height: 100%;
}

.nav-1st-title {
  width: 65%;
  height: 100%;
}

.nav-1st-title a {
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.dashboard-home-nav-2nd {
  height: 100%;
  width: 64%;
}

.dashboard-home-nav-3rd {
  height: 100%;
  width: 18%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.nav-3rd-content {
  position: relative;
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: flex;
  padding-right: 30px;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.nav-3rd-content span {
  color: white;
  font-weight: bold;
}

.nav-3rd-content i {
  padding: 0 15px;
  font-weight: bold;
}

.nav-3rd-content i:hover {
  cursor: pointer;
}

.dashboard-dropdown {
  position: absolute;
  display: none;
  height: 110px;
  width: 200px;
  top: 100px;
  right: 15px;
  padding-top: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px;
  z-index: 2;
  background-color: white;
}

.dashboard-dropdown-content {
  position: relative;
  width: 100%;
  height: 80%;
  color: #2B333E;
}

.dashboard-dropdown-items {
  position: relative;
  padding: 10px 15px;
  display: -webkit-box;
  display: flex;
}

.dashboard-dropdown-items a {
  padding-left: 10px;
  color: #2B333E;
  text-decoration: none;
}

.dashboard-dropdown-items:hover {
  background-color: #E3E3FE;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.noborder {
  border: none !important;
  background: none !important;
  cursor: pointer;
}

/* --- [sidenav] --- */

.sidenav {
  position: relative;
  height: 100%;
  width: 20%;
  float: left;
  background-color: #2B333E;
  display: table-row;
}

.sidenav div {
  position: relative;
}

.sidenav-item-content {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.sidenav-item {
  width: 80%;
  height: 10%;
  margin-top: 20px;
  display: table;
}

.sidenav-item h5 {
  display: table-row;
}

.sidenav-item-link {
  margin-top: 10px;
  padding: 8px 8px 8px 15px;
}

.sidenav-item-link button {
  float: right;
}

.sidenav-active {
  border-radius: 8px;
  background-color: #414a76;
  font-weight: bold;
}

.sidenav-active a {
  color: white !important;
}

.sidenav-item-link a {
  padding-left: 15px;
  text-decoration: none;
  color: white;
}

.sidenav-item-link:hover {
  border-radius: 8px;
  background-color: #414a76;
  cursor: pointer;
}

.sidenav-item-link:hover a {
  color: white;
  font-weight: bold;
}

.sidenav-item-link:hover i {
  color: white;
}

/* ----------------------- [ Dashboard Home Main] ----------------------- */

.dashboard-home-main {
  position: relative;
  width: 80%;
  height: 100vh;
  float: right;
  z-index: 1;
  display: table-row;
  margin: 0 auto;
  overflow: hidden;
}

.dashboard-home-main div {
  position: relative;
}

.dashboard-home-container {
  width: 90%;
  top: 22px;
  height: 92%;
  bottom: 22px;
  margin: 0 auto;
  background-color: white;
  padding: 25px 0;
  border-radius: 10px;
}

.dashboard-home-content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.dashboard-home-content form {
  position: relative;
  height: 85%;
}

.dashboard-show-info {
  position: relative;
  height: 100%;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.dashboard-show-info-container {
  position: relative;
  height: 80%;
  padding: 1rem 2rem;
}

.dashboard-show-info-container p {
  margin-bottom: 50px;
}

.dashboard-show-info-left {
  width: 25%;
  float: left;
}

.dashboard-show-info-left p {
  font-weight: bold;
  color: #5f5aef;
}

.dashboard-show-info-right p {
  border-bottom: 1px solid gray;
}

.dashboard-show-info-right {
  width: 75%;
  float: right;
  padding: 1rem 0;
}

.registration {
  height: 5% !important;
  padding: 0 !important;
  margin: 20px auto !important;
}

.table tbody tr:hover {
  background-color: #E3E3FE;
}

.checkbox {
  position: relative;
  width: 100%;
  bottom: 65px;
  display: none;
}

.table {
  font-size: 13px;
  height: 50px !important;
}

.checkbox label {
  display: block;
  padding-left: 15px;
}

.showOptions {
  display: -webkit-box !important;
  display: flex !important;
}

.slider-content {
  background-color: #373f64;
  margin: 0;
  padding: 0;
}

.slider-content .sidenav-item-link {
  margin: 0;
  padding: 0;
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.dpBtn {
  color: white;
  cursor: pointer;
  background: transparent;
  border: none;
}

.image-count {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #1d17ce;
  border-radius: 50%;
  color: white;
  margin: 0;
  bottom: 10;
  right: 15;
  border: 1px solid white;
  display: none;
}

.notification {
  background-color: white;
  position: absolute;
  top: 50px;
  right: 30px;
  width: 300px;
  z-index: 2;
  border-radius: 5px;
  box-shadow: 2px 2px 2px;
  height: 60px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.5s, opacity 0.5s linear;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.showNotification {
  visibility: visible;
  opacity: 1;
  display: table !important;
}

.notif-left {
  position: relative;
  height: 100%;
  width: 15%;
  float: left;
}

.notif-right {
  float: left;
  position: relative;
  width: 85%;
  height: 100%;
  padding: 5px 0;
  display: table-row;
}

.notif-right-div {
  position: relative;
  height: 60%;
  width: 100%;
  line-height: 1;
  display: none;
}

.notif-right-div h6 {
  margin: 10px;
  font-size: 14px;
}

.notif-right-div input {
  font-size: 0.8rem;
  color: gray;
  border: none;
  background: transparent;
}

.notif-success {
  border-left: 5px solid #00df23;
}

.success {
  color: #00df23;
}

.notif-info {
  border-left: 5px solid #0074f7;
}

.info {
  color: #0074f7;
}

.notif-warning {
  border-left: 5px solid #ffc100;
}

.warning {
  color: #ffc100;
}

.notif-danger {
  border-left: 5px solid #ff133a;
}

.danger {
  color: #ff133a;
}

/* ----------------------- [ Alert Messages ] ----------------------- */

.alert-custom-container {
  position: absolute;
  top: 120px;
  right: 20px;
}

.alert-custom {
  position: relative;
  padding: 15px;
  margin-bottom: 15px;
  height: 50px;
  width: 270px;
  background: pink;
  z-index: 2;
  display: block;
  border-radius: 10px;
}

.alert-custom p {
  font-size: 14px;
}

