@mixin responsive($breakpoint) {
	@if $breakpoint == laptop {
		@media only screen and (min-width: 992px) and (max-width: 1198px) { @content }
	}

	@if $breakpoint == tablet {
		@media only screen and (min-width: 768px) and (max-width: 991px) { @content }
	}

	@if $breakpoint == phone {
		@media only screen and (max-width: 767px) { @content }
	}
}

@mixin position($position, $top : NULL, $right : NULL, $bottom : NULL, $left : NULL) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin flexCenters {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flexJustify {
	display: flex;
	justify-content: center;
}

@mixin flexAlign {
	display: flex;
	align-items: center;
}