// ------------------------------------- notifications -------------------------------------

.notification {
	background-color: white;
	position: absolute;
	top: 50px;
	right: 30px;
	width: 300px;
	z-index: 2;
	border-radius: 5px;
	box-shadow: 2px 2px 2px;
	height: 60px;
	visibility: hidden;
 	opacity: 0;
  	transition: visibility 0.5s, opacity 0.5s linear;
}

.showNotification {
  visibility: visible;
  opacity: 1;
  display: table !important;
}

.notif-left {
	position: relative;
	height: 100%;
	width: 15%;
	float: left;
} 

.notif-right {
	float: left;
	position: relative;
	width: 85%;
	height: 100%;
	padding: 5px 0;
	display: table-row;
}

.notif-right-div {
	position: relative;
	height: 60%;
	width: 100%;
	line-height: 1;
	display: none;
}

.notif-right-div h6 { 
	margin: 10px;
	font-size: 14px;
}

.notif-right-div input {
	font-size: 0.8rem;
	color: gray;
	border: none;
	background: transparent;
}

.visible {
	display: block !important;
}

.hidden {
	display: none;
}