// ------------------------------------- notifications -------------------------------------

.notification {
    @include position(absolute, 50px, 30px);
    display: table;

	background-color: white;
	width: 300px;
	z-index: 2;
    color: color(secondary);
	height: 50px;
    box-shadow: 3px 3px 8px gray;
    visibility: hidden;
    opacity: 0;
  	transition: visibility 0.5s, opacity 0.5s linear;

    .notification-icon {
        display: table-cell;
        width: 17%;
        vertical-align: middle;
        text-align: center;
        background: color(secondary);

        i {
            color: white;
        }
    }

    .notification-content {
        display: table-cell;
        width: 83%;
        vertical-align: middle;
        padding: 10px 10px;

        ul {
            margin: 0;
            padding: 0 15px !important;
            
            li {
              margin: 3px 0;
              font-size: .9rem;
            }
        }
    }
}

.notif-success {
    color: #4CAF50 !important;

    .notification-icon {
        background: #4CAF50 !important;
    }
}

.notif-info {
    color: #2196F3 !important;

    .notification-icon {
        background: #2196F3 !important;
    }
}

.notif-warning {
    color: #ff9800 !important;

    .notification-icon {
        background: #ff9800 !important;
    }
}

.notif-danger {
    color: #f44336 !important;

    .notification-icon {
        background: #f44336 !important;
    }
}

.notif-visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.visible {
	display: block !important;
}

.hidden {
	display: none;
}

// ------------------------------------- FORMS AND BUTTONS -------------------------------------

.form {
	@include position(relative);

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 65%;
    width: 100%;
    padding: 0 40px;
}

.dashboard-input {
    width: 100%;
    padding-bottom: 60px;
    height: 50px;

    .input-control {
        width: 100%;
        background: transparent;
        outline: 0;
        border-width: 0 0 1px;
        border-color: #525257;
        padding-bottom: 8px;
        font-size: 1rem;
    }

    label {
        @include position(relative);

        bottom: 30px;
        pointer-events: none;
        transition: .5s;
    }

    .dashboard-input-focus {
        bottom: 50px !important;
        font-size: 0.8rem;
        font-weight: bold;
        color: color(secondary);
    }

    .password-content {
        @include position(relative);

        display: flex;
        i {
            display: none;
            @include position(absolute, 10px, 0);
        }

        i:hover {
            cursor: pointer;
        }
    }
}

 .dashboard-submit-button {
    input[type=submit] {
        border: none;
        height: 45px;
        width: 150px;
        background: #413e92;
        color: white;
        font-weight: bold;
        box-shadow: 1px 1px 5px black;
    }

    input[type=submit]:hover {
        transition: box-shadow 0.2s ease-in-out;
        box-shadow: 7px 7px 10px black;
        cursor: pointer; 
    }
}
