// ------------------------------------- notifications -------------------------------------

.notification {
	background-color: white;
	position: absolute;
	top: 50px;
	right: 30px;
	width: 300px;
	z-index: 2;
	border-radius: 5px;
	box-shadow: 2px 2px 2px;
	height: 60px;
	visibility: hidden;
 	opacity: 0;
  	transition: visibility 0.5s, opacity 0.5s linear;
}

.showNotification {
  visibility: visible;
  opacity: 1;
  display: table !important;
}

.notif-left {
	position: relative;
	height: 100%;
	width: 15%;
	float: left;
} 

.notif-right {
	float: left;
	position: relative;
	width: 85%;
	height: 100%;
	padding: 5px 0;
	display: table-row;
}

.notif-right-div {
	position: relative;
	height: 60%;
	width: 100%;
	line-height: 1;
	display: none;
}

.notif-right-div h6 { 
	margin: 10px;
	font-size: 14px;
}

.notif-right-div input {
	font-size: 0.8rem;
	color: gray;
	border: none;
	background: transparent;
}

.visible {
	display: block !important;
}

.hidden {
	display: none;
}

// ------------------------------------- FORMS AND BUTTONS -------------------------------------

.form {
	@include position(relative);

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 65%;
    width: 100%;
    padding: 0 40px;
}

.dashboard-input {
    width: 100%;
    padding-bottom: 60px;
    height: 50px;

    .input-control {
        width: 100%;
        background: transparent;
        outline: 0;
        border-width: 0 0 1px;
        border-color: #525257;
        padding-bottom: 8px;
        font-size: 1rem;
    }

    label {
        @include position(relative);

        bottom: 30px;
        pointer-events: none;
        transition: .5s;
    }

    .dashboard-input-focus {
        bottom: 50px !important;
        font-size: 0.8rem;
        font-weight: bold;
        color: color(secondary);
    }

    .password-content {
        @include position(relative);

        display: flex;
        i {
            display: none;
            @include position(absolute, 10px, 0);
        }

        i:hover {
            cursor: pointer;
        }
    }
}

 .dashboard-submit-button {
    input[type=submit] {
        border: none;
        height: 45px;
        width: 150px;
        background: #413e92;
        color: white;
        font-weight: bold;
        box-shadow: 1px 1px 5px black;
    }

    input[type=submit]:hover {
        transition: box-shadow 0.2s ease-in-out;
        box-shadow: 7px 7px 10px black;
        cursor: pointer; 
    }
}
